.page-hall {
  .header__call {
    @include open-text(14px, $dgrc);
    @include hover-underline($dgrc);
  }

  .burger__name {
    @include open-text(14px, $dgrc);
  }

  @include to(1600px) {
    .header__call {
      font-size: 11px;
    }

    .burger__name {
      font-size: 11px;
    }
  }
}

#hall {
  .page-title {
    margin-bottom: var(--breadcrumb-bottom-3);
  }
}

.hall_img-block__wrapper{
  width: 100%;
  @include d-flex;
  justify-content: space-between;

  @include to(575px) {
    flex-direction: column;
  }

  .hall-images {
    @include size(2);

    @include to(1600px) {
      @include size-llg(2);
    }

    @include to(1024px) {
      @include size-lg(2);
    }

    @include to(575px) {
      width: 100%;
      margin-bottom: 40px;
    }

    &:last-child {
      @include to(575px) {
        margin-bottom: 0;
      }
    }
  }
}
