.home {
  .swiper-wrapper {
    height: 100vh;
  }

  .gallery-slider__wrap {
    position: relative;

    .animation-for-slider{
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 50%;
      z-index: 1;

      @include to(1024px) {
        width: 100%;
        height: 50%;
      }
    }
  }
  .page__inner:before {
    content: none;
  }
  &-section{
    display: none;

    &-0 {
      position: relative;
      background-image: url(../images/mramor.jpg);
      background-size: cover;
      background-position: right;

      @include d-flex;
      justify-content: flex-end;
      width: 100%;
      overflow: hidden;
    }
  }

  &-slider {
    display: inline-block;
    //height: 100vh;
    width: 100%;

    &__arrows {
      position: absolute;
      bottom: var(--main-bottom);
      right: calc(50% + 100px);
      z-index: 20;
      height: 10px;
      @include d-flex(flex-start);
      -webkit-align-items: flex-start;

      @include to(1024px) {
        right: 43%;
      }

      @include to(575px) {
        right: var(--margin);
      }
    }

    &__arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        @include hover-arrow;
        @include d-flex;

        @include to(1600px) {
          width: 42px;
        }
      }

      &:first-child {
        margin-right: 40px;

        @include to(1600px) {
          margin-right: 30px;
        }

        @include to(575px) {
          margin-right: 20px;
        }
      }
    }

    &__next {
      transform: rotate(180deg);
    }


    .gallery-slider__amount {
      left: 50%;

      @include to(1024px) {
        left: var(--margin);
      }
    }

    &__autoplayLine {
      position: absolute;
      bottom: var(--main-line-bottom);
      left: var(--margin);
      z-index: 100;

      & svg{
        & line {
          stroke: $hc;
        }

        & line[data-line] {
          stroke: $dgrc;
        }

        @include to(1600px) {
          width: 320px;
        }

        @include to(1024px) {
          width: 265px;
        }

        @include to(575px) {
          width: 205px;
        }
      }
    }
  }
}

.slide {
  position: relative;
  height: 100vh;
  width: 100%;

  @include to(575px) {
    height: 100%;
    min-height: -webkit-fill-available;
  }

  &__content {
    height: 100%;
    width: 100%;

    @include d-flex;
    justify-content: space-between;

    @include to(1024px) {
      flex-direction: column;
    }

    &__right {
      width: 50%;
      height: 100%;
      position: relative;

      @include to(1024px) {
        width: 100%;
        height: 50%;
      }

      &-img {
        height: 100%;
      }

      img {
        height: 100vh;
        width: 100%;
        object-fit: cover;

        @include to(1024px) {
          height: 100%;
        }
      }
    }

    &__left {
      width: 50%;
      height: 100%;
      padding-left: var(--margin);
      padding-right: var(--margin);

      @include d-flex(flex-start);
      flex-direction: column;
      justify-content: center;

      @include to(1024px) {
        width: 100%;
        height: 50%;
      }
    }
  }

  &__title {
    @include tenor-text(65px, $dgrc);
    text-align: left;

    //opacity: 0;
    //transform: translateY(100px);
    //transition-duration: 0.7s;

    @include to(1600px) {
      font-size: 45px;
    }

    @include to(1024px) {
      font-size: 42px;
      max-width: 80%;
    }

    @include to(575px) {
      font-size: 28px;
      max-width: 100%;
    }
  }

  &__link {
    @include d-flex;
    justify-content: flex-start;
    @include tenor-text(16px, $dgrc);
    text-align: left;
    margin-top: 40px;
    @include hover-underline($dgrc);

    @include to(1600px) {
      font-size: 14px;

      & span {
        margin-right: 10px;
      }
      .link__arrow svg {
        height: 7px;
        width: 4px;
      }
    }

    @include to(1024px) {
      font-size: 12px;
    }

    @include to(575px) {
      margin-top: 20px;
    }

    & span {
      margin-right: 15px;

      @include to(575px) {
        margin-right: 10px;
      }
    }

    .link__arrow svg {
      height: 10px;
      width: 7px;
    }
  }
}

//.swiper-slide-active {
//  .slide__title {
//    transition-delay: 0.4s;
//    transform: translateX(0);
//    opacity: 1;
//  }
//  .slide__link {
//    transition-delay: 0.6s;
//    transform: translateX(0);
//    opacity: 1;
//  }
//}
