.page-panorama {
  .header__call {
    @include open-text(14px, $dgrc);
    @include hover-underline($dgrc);
  }

  .burger__name {
    @include open-text(14px, $dgrc);
  }

  @include to(1600px) {
    .header__call {
      font-size: 11px;
    }

    .burger__name {
      font-size: 11px;
    }
  }
}

.page-vr-tour {
  .header__call {
    @include open-text(14px, $dgrc);
    @include hover-underline($dgrc);
  }

  .burger__name {
    @include open-text(14px, $dgrc);
  }

  @include to(1600px) {
    .header__call {
      font-size: 11px;
    }

    .burger__name {
      font-size: 11px;
    }
  }
}

#panorama {
  .page-title {
    margin-bottom: var(--breadcrumb-bottom-3);
  }
}

.panorama-wrapper {
  position: relative;
  height: 80vh;

  @include to(575px) {
    height: 500px;
  }
}

.panorama-frame {
  width: 100%;
  height: 100%;
  position: relative;
}

.panorama-wrapper__faq {
  @include d-flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  cursor: grab;

  picture{
    height: 110px;
    width: 110px;

    @include to(1600px) {
      height: 80px;
      width: 80px;
    }

    @include to(575px) {
      height: 60px;
      width: 60px;
    }
  }
}
