.page-parking {
  .header__call {
    @include open-text(14px, $dgrc);
    @include hover-underline($dgrc);
  }

  .burger__name {
    @include open-text(14px, $dgrc);
  }

  @include to(1600px) {
    .header__call {
      font-size: 11px;
    }

    .burger__name {
      font-size: 11px;
    }
  }
}


#parking {
  .page-title {
    margin-bottom: var(--breadcrumb-bottom-3);
  }
}

.parking-block-img__wrapper{
  height: 550px;
  width: 100%;

  @include to(1024px) {
    height: 210px;
  }

  @include to(575px) {
    height: 100px;
  }
}

.parking-block-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
  margin-top: var(--page-blocks-shift-2);
  mix-blend-mode: darken;
}
