#parking {
  .breadcrumbs {
    margin-bottom: var(--breadcrumb-bottom-3);
  }
}

.parking-block-img__wrapper{
  height: 550px;
  width: 100%;
}

.parking-block-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: auto;
  margin-top: var(--page-blocks-shift-2);
  mix-blend-mode: darken;
}
