#specials {
  .breadcrumbs {
    margin-bottom: var(--breadcrumb-bottom-3);
  }

  .absolute-block {
    display: block;
  }
}

.specials-info__wrapper{
  background: $dgrc;
  padding-top: var(--blocks-top-shift);
  padding-bottom: var(--blocks-top-shift);
}

.specials-info__title{
  @include tenor-text(65px, $main-bcg);
}

.specials-info-cards{
  @include d-flex;
  justify-content: space-between;
}

.specials-info-card {
 margin-right: var(--specials-info-blocks-margin);

  &:last-child{
    margin-right: 0;
  }

  &__num{
    @include tenor-text(110px, $main-bcg)
  }

  &__text{
    @include open-thin-text(16px, #D3D3D3, left, 160%);
    max-width: 200px;
  }
}

//
//.specials-slide {
//  position: relative;
//  height: 50vh;
//}
//
//.specials-slider__amount{
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  z-index: 20;
//  overflow: hidden;
//  height: 160px;
//
//  .specials-slider__current {
//    @include tenor-text(160px, $wc);
//    min-width: 2.3ch;
//    position: relative;
//
//    span {
//      display: inline-block;
//    }
//  }
//
//  .slider__all{
//    position: absolute;
//    right: 0;
//    top: 15px;
//    @include tenor-text(40px, $wc);
//  }
//}
//
//.moving-arrow {
//  position: fixed;
//  left: 0;
//  top: 0;
//  will-change: left, top;
//
//  z-index: 10;
//  opacity: 0;
//
//  .arrow-style {
//    transition: transform .3s ease-in-out;
//  }
//
//  //left:0;
//  //top: 0;
//  //will-change: transform;
//
//  &.left-side {
//    .arrow-style{
//      transition: transform .3s ease-in-out;
//      transform: rotate(-180deg);
//    }
//  }
//}
