footer#footer
    .footer-wrapper
        .footer-top
            .footer-top__left
                a(href='tel:0675230001').tell + 38 (067) 523-00-01
                a(href='#').call.button-style
                    span замовити дзвінок
            .footer-top__right
                a(href="#").link
                    span Обрати квартиру
                    .link__arrow
                        +svg('arrow-green')

        .footer-bottom
            p.footer-bottom-copy © Усі права захищено. NEBOSHILL 2021
            .footer-bottom-dev
                a(href="https://smarto.agency/" rel="nofollow" target="_blank").footer-dev__link
                    img(src="assets/images/smarto.png" alt="smarto")
