header.header
    .header__left
        a(href='index.html').header__logo
            img(src="assets/images/logo.svg")
            img.second-logo(src="assets/images/logo-2.svg")

        a(href="/").header__btn.button-style
            span обрати квартиру

        .custom-select(data-lang="desktop")
            include ../components/lang/lang.pug

    .header__right
        a(data-open-call-popup).header__call замовити дзвінок

        a(href='tel:0442992203').header__btn.button-style.header__tell
            span + 38 (067) 523-00-01

        .burger(data-open-menu)
            span.burger__name.second-burger__name Меню
            .burger__icon
                span.burger__icon__line
                span.burger__icon__line







