.menu {
  display: grid;
  height: 100%;
  grid-template-columns: var(--margin) 32% auto var(--margin);
  grid-template-rows: auto 140px 1fr;
  grid-template-areas: 'top top top top'
  '. . . .'
  '. left right .';

  @include to(1600px) {
    grid-template-columns: var(--margin) 35% auto var(--margin);
    grid-template-rows: auto 60px 1fr;
  }

  @include to(1440px) {
    grid-template-rows: auto 50px 1fr;
  }

  @include to(1024px) {
    grid-template-rows: auto 40px 1fr;
  }

  @include to(820px) {
    grid-template-columns: var(--margin) 33% auto var(--margin);
  }

  @include to(575px) {
    grid-template-columns: var(--margin) 45% auto var(--margin);
    grid-template-rows: auto 20px 1fr;
  }

  &-wrap{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 100%;
    height: 100%;
    background: $main-bcg;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }
  }

  .header__tell{
    font-size: 18px;

    @include to(1600px) {
      font-size: 14px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: var(--header-h);

    grid-area: top;
  }

  &__left, &__right {
    @include d-flex;
    justify-content: space-between;
    width: 50%;
    margin-left: var(--margin);
    margin-right: var(--margin);
  }

  @include to(1024px) {
    &__left {
      margin-right: 0;
    }

    &__right {
      margin-left: 0;
    }
  }

  @include to(575px) {
    &__left {
      width: 100%;
    }

    &__right {
      width: auto;
    }
  }

  .vr-tour {
    @include d-flex;
    justify-content: flex-start;

    @include to(575px) {
      margin-right: 40px;
    }

    &__icon {
      background: $dgrc;
      border-radius: 200px;
      height: 65px;
      width: 65px;
      @include from(1024px) {
        @include animation-circle($hc);
      }

      @include d-flex;
      justify-content: center;

      svg {
        height: 11px;
        width: 8px;
        fill: $wc;
        z-index: 20;
      }

      @include to(1600px) {
        height: 50px;
        width: 50px;

        svg {
          height: 8px;
          width: 7px;
        }
      }

      @include to(575px) {
        height: 40px;
        width: 40px;

        svg {
          height: 7px;
          width: 5px;
        }
      }
    }

    & span {
      @include open-text(14px, $dgrc);
      margin-left: 20px;

      @include to(1600px) {
        font-size: 11px;
        margin-left: 10px;
      }

      @include to(575px) {
        font-size: 10px;
        margin-left: 5px;
      }
    }

    &:hover .vr-tour__icon{
      @include hover-animation-circle;
      & svg {
        fill: $wc;
      }
    }
  }

  .call a{
    @include open-text(14px, $dgrc);
    @include hover-underline($dgrc);

    @include to(1600px) {
      font-size: 11px;
    }
  }

  .call-btn {
    @include btn-style;
    transform: translateZ(0);
    @include hover-background($hc);

    @include to(1024px) {
      display: none;
    }
  }

  &__section {

    &-left {
      grid-area: left;

      @include to(575px) {
        padding-right: 25px;
      }
    }

    &-big {
      li {
        margin-top: var(--menu-margin2);

        &:first-child {
          margin: 0;
        }

        a {
          @include tenor-text;
          @include hover-underline($dgrc);

          @include to(1600px) {
            font-size: 30px;
          }

          @include to(1024px) {
            font-size: 18px;
          }
        }
      }
    }

    &-right {
      grid-area: right;

      display: flex;
      flex-direction: column;
      justify-content: flex-start ;
      align-items: flex-start;

      .menu__section {
        margin-bottom: var(--menu-margin);

        &:last-child {
          margin-bottom: 0;
        }
      }

      @include to(575px) {
        margin-bottom: 30px;
        overflow-y: scroll;

      }

      &::-webkit-scrollbar {
        width: 0;
      }

      .menu__title {
        @include tenor-text;

        @include to(1600px) {
          font-size: 30px;
        }

        @include to(1024px) {
          font-size: 18px;
        }
      }

      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 100%;

        @include to(575px) {
          flex-direction: column;
          align-items: flex-start;
        }

        li {
          overflow: hidden;
          margin-right: var(--menu-right-margin);

          margin-top: 20px;

          @include to(1600px) {
            margin-top: 15px;
          }

          @include to(1024px) {
            margin-top: 20px;
          }

          @include to(575px) {
            margin-right: 0;
            margin-top: 15px;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            display: inline-block;
            overflow: hidden;

            @include open-thin-text(18px, $gc-text);
            @include hover-underline($dgrc);

            @include to(1600px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &__close {
    @include d-flex;
    cursor: pointer;

    @include to(1024px) {
      margin-left: 30px;
    }

    @include to(575px) {
      margin-left: 15px;
    }

    .menu__name {
      margin-right: 15px;
      @include open-text(14px, $dgrc);

      @include to(1600px) {
        font-size: 11px;
        margin-right: 10px;
      }

      @include to(1024px) {
        display: none;
      }
    }

    &-icon {
      transition: all 0.3s ease-in-out;
      @include animation-circle;

      background: $wc;
      box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
      border-radius: 200px;
      height: 65px;
      width: 65px;
      cursor: pointer;

      position: relative;

      @include to(1600px) {
        height: 50px;
        width: 50px;
      }

      @include to(575px) {
        height: 40px;
        width: 40px;
      }

      & span {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 20;

        display: inline-block;
        width: 15px;
        height: 2px;
        background: $dgrc;
        pointer-events: none;

        transform: translate(-50%, -50%)rotate(45deg);
        transition: background-color 0.3s ease-in;

        &:nth-child(2) {
          transform: translate(-50%, -50%)rotate(-45deg);
        }

        @include to(1600px) {
          width: 12px;
        }

        @include to(575px) {
          width: 10px;
          height: 1px;
        }
      }
    }

    &:hover {
      .menu__close-icon {
        @include hover-animation-circle;

        @include from(1024px) {
          & span {
            background: $wc;
          }
        }
      }
    }
  }

  .button-phone {
    margin-left: auto;
  }
}
